@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --negroCODE: #020202;
  --celesteCODE: #308999;
  --gray: #666666;
  --fondo: #ebebeb;
  --naranja: #DB4C0B;
  --whatsapp: #20B038;
  --fuente-base: 'Ubuntu', sans-serif;
}

/* Basics */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

strong {
  font-weight: 600;
}


/* EQUIPO */

.equipoInfo {
  margin: 0 0 50px 0;
}

.container-equipo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-equipo>h1 {
  font-size: 40px;
  font-weight: 600;
  border-bottom: 5px solid var(--negroCODE);
  margin: 20px;
  font-family: anton;
}

.equipoInfo h2 {
  font-size: 70px;
  font-family: anton;
  text-transform: uppercase;
  
}

.equipoInfo h3 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: anton;
  color: var(--naranja);
}

.equipoInfo .matias {
  width: 150px;
  height: 300px;
  background-image: url("/images/matias.jpg");
  background-size: 100%;
}

.equipoInfo .ivan {
  width: 150px;
  height: 300px;
  background-image: url("/images/ivan.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.equipoInfo p {
  font-size: 16px;
}

.equipoInfo span {
  font-weight: 600;
}

.quienSoy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.quienSoy>div {
  margin-bottom: 20px;
}

/* HABILIDADES */
.habilidades {
  display: flex;
  justify-content: left;
  align-items: center;
}

.progress {
  width: 100%;
  background: rgb(187, 186, 186);
  border-radius: 0 50px 50px 0;
  margin: 10px 0px;
  height: 30px;
  padding: 0;
  -webkit-border-radius: 0 50px 50px 0;
  -moz-border-radius: 0 50px 50px 0;
  -ms-border-radius: 0 50px 50px 0;
  -o-border-radius: 0 50px 50px 0;
}

.progress-bar {
  font-size: 16px;
  text-align: left;
  padding: 10px;
  margin: 0;
  background: var(--celesteCODE);
  border-right: 5px solid var(--naranja);
  font-weight: 600;
}

.habilidades p {
  font-weight: 600;
  font-size: 20px;
}

@media (max-width:768px) {

  .container-equipo h2 {
    font-size: 30px;
  }

  .container-equipo h3 {
    font-size: 25px;
  }

}

@media (max-width:1000px) {

  .equipoInfo {
    display: flex;
    flex-direction: row;
  }

}

/* CONTAINER EMPRESA */
.container-empresa {
  background: white;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.container-fluid {
  border: none;
}

.infoEmpresa {
  font-size: 16px;
}

.infoEmpresa a {
  text-shadow: var(--negroCODE);
}


.btn-empresa {
  font-size: 20px;
  background: var(--celesteCODE);
  font-weight: 600;
  color: var(--fondo);
}

.ivanMatiImg {
  width: 700px;
}








/* PROFESORES */
.container-profesores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--negroCODE);
  border: none;
}

.convertiteEnProfesor {
  margin: 20px;
  padding: 20px;
  background-color: var(--naranja);
  color: #fff;
  border: none;
  border-radius: none;
  width: 70%;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}

.convertiteEnProfesor:hover {
  background-color: var(--celesteCODE);
  box-shadow: 0 0 10px 0 var(--negroCODE);
  border-radius: none;
  border: none;
}

@media (max-width:425px){
  .convertiteEnProfesor{
    font-size: 16px;
  }
}

/* TESTIMONIO */
.container-testimonios {
  background-image: url(/images/fondoestrellasblancosinnada.png);
}

.img-testimonio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-testimonio div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: 20px 0 40px 0;
}

.img-testimonio h2 {
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  padding: 0px;
  margin: 0;
}

.img-testimonio img {
  width: 200px;
}


.clientes-testimonio {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.clientes-testimonio .cards {
  display: flex;
  justify-content: space-evenly;
}

.clientes-testimonio .card {
  padding: 20px;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 50px;
  border: 2px solid var(--celesteCODE);
  background: var(--celesteCODE);
  width: 90%;
  margin-bottom: 30px;
}

.clientes-testimonio img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
}

.clientes-testimonio .cards .card>.contenido-texto-card {
  width: 60%;
  color: #fff;
}

.clientes-testimonio .cards .card>.contenido-texto-card p {
  font-weight: 300;
  padding-top: 5px;
  font-size: 16px;
}

.clientes-testimonio .cards .card>.contenido-texto-card h4 {
  padding-top: 5px;
  font-size: 18px;
}


/* TERMINOS Y CONDICIONES */

.container-terminosCondiciones {
  margin: auto;
  text-align: justify;
}

.container-terminosCondiciones h2 {
  font-size: 25px;
  margin: 30px;
}

.container-terminosCondiciones h3 {
  font-size: 20px;
  text-indent: 25px;
  width: 100%;
}

.container-terminosCondiciones p {
  font-size: 16px;
}

/* NUESTRA HISTORIA */
.container-nuestraHistoria {
  background: white;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.infoHistoria {
  font-size: 16px;
}

.infoHistoria a {
  text-decoration: underline;
  text-shadow: var(--negroCODE);
}

.ivanMatiImg {
  width: 700px;
}

.infoHistoria span {
  font-weight: 600;
}

/* PREGUNTAS */
.container-preguntas {
  background: white;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.infoPreguntas {
  font-size: 16px;
}

.infoPreguntas a {
  text-decoration: underline;
  text-shadow: var(--negroCODE);
}

.ivanMatiImg {
  width: 700px;
}

.infoPreguntas span {
  font-weight: 600;
}