<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include("partials/head.ejs") %>
<!-- HEAD -->

<body>

  <!-- Header -->
  <%- include("partials/header.ejs") %>
  <!-- /Header -->

  <div class="container-fluid container-empresa row">
    <h1>Crea. Comparte. Aprende.</h1>
    <p class="infoEmpresa col-12 col-md-6">
      CodeAR es un <strong>proveedor de cursos de programación.</strong> Esta plataforma de aprendizaje en línea está
      dirigida a cualquier persona que quiera incursionar en el mundo de la programación o perfeccionar sus habilidades.
      En la misma se utiliza el contenido de <strong>creadores profesionales</strong> para hacer más abundante la oferta
      de cursos del sitio. Cualquier persona puede solicitar realizar un curso siempre y cuando cumpla nuestros <a
        href="">estrictos requisitos</a>.
    </p>
    <h1>Contacto</h1>
    <p class="infoEmpresa col-12 col-md-6">Si tienes cualquier pregunta o simplemente quieres saludarnos, la mejor manera de contactarnos es a través de nuestro formulario. Hacemos todo lo posible para responder en menos de 48 horas, pero si tardamos un poquito más, ¡perdónanos! Leemos cada mensaje y los distribuimos internamente para garantizar que terminas hablando con la persona adecuada. Te recordamos que también tienes a tu disposición nuestra <a href="">Página de Ayuda</a>, donde encontrarás respuesta a las preguntas más frecuentes sobre Codear. <br> <br>
      <button class="btn btn-empresa">Contáctanos</button>
</p>
    <img class="ivanMatiImg col-12" src="/images/ivanmati.jpg" alt="">
  </div>
  <!-- FOOTER -->
  <%- include("partials/footer.ejs") %>
  <!-- FOOTER -->

</body>

</html>