<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include("partials/head.ejs") %>
<!-- HEAD -->

<body>

  <!-- Header -->
  <%- include("partials/header.ejs") %>
  <!-- /Header -->

  <div class="container container-equipo">

      <h1>Sobre Nosotros</h1>

    <div class="equipoInfo row">
      <div class="quienSoy col-6 row">
        <h2 class="col-12">¿Quién soy?</h2>
        <h3 class="col-12">Unas palabras sobre mi.</h3>
        <div class="col-12 row">
          <div class="imgInfo col-6"></div>
          <p class="col-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, tempora maiores odio sit vel amet earum
            voluptatem minus recusandae placeat fugit, mollitia asperiores laborum, perferendis voluptate dolore velit
            eos numquam. <br>
            <span>Contactame, te puedo sorprender!</span>
          </p>
        </div>
      </div>
      <div class="mySkills col-6">
        <h2>Mis habilidades</h2>
        <h3>En lo que soy mejor.</h3>
        <div class="habilidades row">
          <div class="progress col-10">
            <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0"
              aria-valuemax="100">HTML</div>
          </div>
          <p class="col-2">60%</p>
          <div class="progress col-10">
            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0"
              aria-valuemax="100">Diseño Web</div>
          </div>
          <p class="col-2">80%</p>
          <div class="progress col-10">
            <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0"
              aria-valuemax="100">Base de Datos</div>
          </div>
          <p class="col-2">20%</p>
          <div class="progress col-10">
            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0"
              aria-valuemax="100">Diseño Gráfico</div>
          </div>
          <p class="col-2">70%</p>
          <div class="progress col-10">
            <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0"
              aria-valuemax="100">Tipografía</div>
          </div>
          <p class="col-2">40%</p>
        </div>
      </div>
    </div>

  </div>
  <!-- FOOTER -->
  <%- include("partials/footer.ejs") %>
  <!-- FOOTER -->
</body>

</html>