<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include("partials/head.ejs") %>
<!-- HEAD -->

<body>
  <!-- Header -->
  <%- include("partials/header.ejs") %>
  <!-- /Header -->


  <div class="container-fluid container-nuestraHistoria row">
    <h1>Nuestra Historia</h1>
    <p class="infoHistoria col-6">La idea de Domestika nació hace unos seis años, a través de una serie de intercambio de correos electrónicos de
      personas que se conocían personalmente o a través de la red, con el fin de montar una agrupación con los mismos
      intereses y afinidades. 'Nuestro interés es promocionar el <span>desarrollo web en Argentina</span>, pero también en otros
      países como México y España'. Al principio comenzaron unos 15 socios, pero finalmente se quedaron cinco. Una de
      las iniciativas, de las que este grupo de profesionales se siente más orgulloso es del congreso BuenosArgen,
      celebrado el pasado mes de septiembre en Palermo y que ha reunido durante dos días a los mejores diseñadores de
      páginas webs nacionales e internacionales del momento. A la cita acudieron más de un millón de personas. 'Es
      nuestra principal tarjeta de visita, y hemos comprobado el tirón que estamos teniendo entre el colectivo de gente
      que trabaja en nuestro sector'.</p>

    <p class="infoHistoria col-6"><span>Matias Cáceres</span> e <span>Iván Benitez</span> estudiaron programación web en <span>Digital House</span>, pero desde mucho antes empezaron a
      familiarizarse con el diseño y desarrollo web a través de la plataforma Youtube. 'Al principio querían solamente
      conformarse con eso, pero después de pasar por varias deficultades, decidieron tomar el curso en Digital House
      donde <span>encontraron el verdadero camino</span> '.</p>
    <img class="ivanMatiImg col-12" src="/images/ivanmati.jpg" alt="">
  </div>


  <!-- FOOTER -->
  <%- include("partials/footer.ejs") %>
  <!-- FOOTER -->
</body>

</html>