<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include("partials/head.ejs") %>
<!-- HEAD -->

<body>
  <!-- Header -->
  <%- include("partials/header.ejs") %>
  <!-- /Header -->


  <div class="container-fluid container-nuestraHistoria row">
    <h1>Preguntas</h1>
    <p class="infoHistoria col-6"><span>¿Cómo publicar un curso?</span></p>
    <p class="infoHistoria col-6">Tenes que ir a la sección profesores y seleccionar "convertite en profesor". Ese botón te contactara con nosotros y luego te llamaremos para informarte.</p>
    <p class="infoHistoria col-6"><span>¿En qué horarios puedo encontrarlos en la oficina?</span></p>
    <p class="infoHistoria col-6">De lunes a Viernes de 10:00am a 6:00pm.</p>
    <p class="infoHistoria col-6"><span>¿Qué hago si no encuentro mi curso?</span></p>
    <p class="infoHistoria col-6">Volvelo a comprar.</p>
    <p class="infoHistoria col-6"><span>¿Los cursos tienen tiempo limitado?</span></p>
    <p class="infoHistoria col-6">No, lo cursos son de tiempo ilimitado.</p>

    <p class="infoHistoria col-6"></p>
    <img class="ivanMatiImg col-12" src="/images/ivanmati.jpg" alt="">
  </div>


  <!-- FOOTER -->
  <%- include("partials/footer.ejs") %>
  <!-- FOOTER -->
</body>

</html>