<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include("partials/head.ejs") %>
<!-- HEAD -->

<body>
  <!-- Header -->
  <%- include("partials/header.ejs") %>
  <!-- /Header -->


  <div class="container-fluid container-testimonios row">
    
  </div>


  <!-- FOOTER -->
  <%- include("partials/footer.ejs") %>
  <!-- FOOTER -->
</body>

</html>