<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include("partials/head.ejs") %>
<!-- HEAD -->

<body>
  <!-- Header -->
  <%- include("partials/header.ejs") %>
  <!-- /Header -->


  <div class="container-fluid container-testimonios">
    <div class="img-testimonio ">
      <img src="/images/fondoestrellasblanco.png " alt="">
      <div >
        <h2> eres el centro de nuestro universo</h2>
      </div>
    </div>
    <div class="main">
      <section class="clientes-testimonio row">
        <div class="cards col-12">
          <div class="card">
            <img src="/images/cliente1.jpg" alt="">
            <div class="contenido-texto-card">
              <h4>Megan Fox</h4>
              <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, sapiente!"</p>
            </div>
          </div>
        </div>
        <div class="cards col-12">
          <div class="card">
            <img src="/images/cliente2.jpg" alt="">
            <div class="contenido-texto-card">
              <h4>Zendaya Coleman</h4>
              <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, sapiente!"</p>
            </div>
          </div>
        </div>
        <div class="cards col-12">
          <div class="card">
            <img src="/images/cliente3.jpg" alt="">
            <div class="contenido-texto-card">
              <h4>Brandon Routh</h4>
              <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, sapiente!"</p>
            </div>
          </div>
        </div>
      </section>
    </div>

  </div>


  <!-- FOOTER -->
  <%- include("partials/footer.ejs") %>
  <!-- FOOTER -->
</body>

</html>